<%- include('header') -%>


    <div id="home" class="home">
      <div id="home-content" class="home-content">
        <h1>CRUD Code Snippets</h1>
        <p>
          A simple CRUD application for code snippets. This application is built
          using Node.js, Express.js, MongoDB, and EJS.
        </p>
        <a href="/snippet" class="btn">View Snippets</a>
      </div>

    </div>
