
.chatt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgb(36, 35, 35);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.chattDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 99%;
  width: 100%;
  background-color: rgb(36, 35, 35);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}


.chatt button:hover {
  cursor: pointer;
}


.usernameDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 35, 35);
  height: 100%;
  width: 90%;
}

.chatt h1,
h3 {
  color: rgb(102, 102, 102);
}


.chatt input::placeholder {
  color: rgb(172, 168, 168);
  font-size: 15px;
}

.chatt button:active {
  background-color: rgba(145, 145, 145, 0.9);
}

.usernameDiv button {
  margin-top: 10px;
  height: 45px;
  width: 40%;
  background-blend-mode: luminosity;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(145, 145, 145, 0.5);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}



.chatt button {
  margin: 10px;
  height: 30px;
  background-blend-mode: luminosity;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(145, 145, 145, 0.5);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.chatt button:active {
  background-color: rgba(145, 145, 145, 0.9);
}

.chatt input {
  text-align: center;
  height: 15px;
  width: 50%;
  background-color: rgba(145, 145, 145, 0.2);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  color: rgb(172, 168, 168);
  font-size: 15px;
}



.chattHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  height: 3%;
  background-color: rgb(36, 35, 35);
}

.chattHeader div {
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  height: 35px;
}

.chattHeader select {
  height: 30px;
  width: 100px;
  background-color: rgba(145, 145, 145, 0.2);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  color: rgb(172, 168, 168);
  font-size: 15px;
}


.chattHeader option {
  color: black;
  font-size: 15px;
}

.chattBody {
  overflow-y: scroll;
  width: 95%;
  max-width: 700px;
  height: 400px;
  background-color: rgb(102, 102, 102);
  border-radius: 5px;
}

.max {
  max-width: 95%;
  width: 95%;
  height: 100%;
}

.chattBody::-webkit-scrollbar {
  display: -webkit-box;
}



.chattBody::-webkit-scrollbar-track {
  background: rgb(36, 35, 35);
  border-radius: 10px;
  margin: 5px;
}

.chattBody::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
  border-radius: 10px;
}

.chattBody::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 145, 145);
}

.chattBody::-webkit-scrollbar-button {
  display: none;
}



.chattBody div {
  padding: 2px;
  width: 70%;
  background-color: rgb(145, 145, 145);
  margin: 5px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  min-height: fit-content;
  max-width: 70%;
  word-wrap: break-word;
}


.chattFooter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  color: white;
  width: 100%;
  height: 3%;
  background-color: rgb(36, 35, 35);
  padding-bottom: 2%;
  padding-top: 1%;
}

.chattFooter button {
  width: 15%;
}

.chattFooter input {
  text-align: start;
  background-color: rgba(145, 145, 145, 0.2);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: rgb(172, 168, 168);
  font-size: 15px;
}

.emojiDiv {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgba(36, 35, 35, 0.8);
  position: absolute;
  border-radius: 10px;
  top: -290%;
  max-height: 200px;
  width: 70%;
  left: 20px;
  height: auto;
  display: none;
  overflow-y: scroll;
}

.emojiDiv::-webkit-scrollbar {
  display: none;
}

.emojiDiv button {
  width: auto;
}


